td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}

p {font-size: 17px;
}
td {text-align: center; }
/* figcaption {text-align: center; position: inherit;} */
ul {font-size: 17px;}
ol {font-size: 17px;}
/* th:nth-child(4), td:nth-child(4){border-right: 2px solid #ddd} */
/* table {border-style:solid; } */
/* .table-a */
 /* table{border: 2px solid #ddd} */
th {text-align: center;}

 /* .jumbotron {
    background: url('../images/background.png');
    margin-top: 50px;
    margin-bottom: 20px;
    min-height: 300px;
    filter:alpha(opacity=60);
    opacity: 0.85;
  }  */
  
  #page-heading {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    display: table;
  }
  .jumbotron {
    width: 100%;
    background: url('../images/background2.png') repeat center center;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
  }

  #heading-text {
    display: table-cell;
    vertical-align: middle;
  }
  
  #heading-text > p {
    color: #FFFFFF;
    font-size: 1.8vw;
  }
  
  #heading-text > p > a {
    color: inherit;
  }
  
  #heading-text > p.big-text {
    font-family: 'Roboto Slab'; 
    font-weight: 700; 
    font-size: 5em;
  }
  
  .lamem-text {
    color: #A31F34;
    text-shadow: 1px 1px #F7F7F7, -1px -1px 0 #F7F7F7, 1px -1px #F7F7F7, -1px 1px 0 #F7F7F7;
  }

  #heading-text > p.big-text {
    font-size: 6vw;
  }
  .lamem-text {
    color: #A31F34;
    text-shadow: 2px 2px #F7F7F7, -2px -2px 0 #F7F7F7, 2px -2px #F7F7F7, -2px 2px 0 #F7F7F7;
  }
  
.news{
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* EXTERNAL ------------------------------------ */

.external-container {
    margin-top:30px;
    margin-bottom:40px;
  }
  .external-container-lf {
    vertical-align:top;
    display:table-cell;
    padding-top:6px;
    width:23%;
    cursor:pointer;
  }
  .external-container-rt {
    font-size:28px;
    font-weight:300;
    vertical-align:top;
    display:table-cell;
    padding-left:25px;
  }
  .external-image {
    width:100%;
    max-height:300px;
  }
  .fontBig {
    font-size:16px;
    font-weight:300;
  }